FROM ghcr.io/xnvme/xnvme-deps-fedora-40:next

LABEL maintainer "os@safl.dk"

WORKDIR /root

RUN dnf -y install --allowerasing \
	clang-tools-extra \
	conda \
	ctags \
	curl \
	doxygen \
	git \
	graphviz \
	make \
	pipx \
	pre-commit \
	shellcheck \
	txt2man

RUN pipx install kmdo poetry

CMD ["bash"]
